*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #014023;
    color: #F29B30;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.formulario{
    width: 340px;
    background-color: #025939;
    padding: 45px 20px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
input[type="text"]{
    width: 100%;
    background: none;
    border: 1px solid #F29B30;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #F29B30;
}
input[type="password"]{
    width: 100%;
    background: none;
    border: 1px solid #F29B30;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #F29B30;
}
input[type="radio"]{
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;   
}
input[type="email"]{
    width: 100%;
    background: none;
    border: 1px solid #F29B30;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #F29B30;
}
select[class="seleccion"]{
    width: 100%;
    background: #014023;
    border: 1px solid #F29B30;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #F29B30;
}
input[type="phone"]{
    width: 100%;
    background: none;
    border: 1px solid #F29B30;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #F29B30;
}
input[type="submit"]{
    background: gold;
    width: 100%;
    border: none;
    border-radius: 3px;
    cursor:pointer;
    color: #014023;
    padding: 6px 15px;
    font-size: 20px;
}
input[type="submit"]:hover{
    background: yellow;
    transition: .6s;

}









